/* This file is for your main application css. */

@import "~milligram";
@import "./phoenix.css";


.HexBoard {
  text-align: center;
}

.HexBoard-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.HexBoard-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.HexBoard-intro {
  font-size: large;
}

@keyframes HexBoard-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
