.hex-map {
  background-color: #2B345B;
  transform: translate3d(0, 0, 0);
}

g.hexagon {
  color: #2B345B;
  opacity: 90%;
}

g.hexagon:hover {
  opacity: 100%;
}

svg g text {
  font-size: 0.1em;
  fill: #fcf4ec;
}

g.in-fog {
  opacity: 20%;
}

g.nearby {}
