nav.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:#2B345B;
  color:#2B345B;
  padding: 16px;
}
nav.navbar.game-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

nav span{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color:#fcf4ec;
}
