:root {
  --bitcoin: #fcb810;
  --whole-nine-yards: #04b538;
  --weathered-stone: #c4c4c4;
  --purple-rhapsody: #8474ac;
  --ambrosia-ivory: #fcf4ec;
  --pico-eggplant: #7c2454;
  --flat-earth: #ac5434;
  --text: #2b345b;
  --fantasy-console-sky: #2cacfc;
  --mango: #ffa828;
  --inner: #fcf4ec;
  --border: black;
  --accent: #fcf4ec;

  --rest: #a248f7;
  --combat: red;
  --move: burlywood;
  --gather: palegreen;
  --craft: lightblue;
  --interact:lightcoral;
  --explore: #11d92c;
}

@font-face {
  font-family: 'Alagard';
  src: local('Alagard'), url('../fonts/alagard-2.ttf') format('truetype');
}

body {
  margin: 0px;
  height: 100vh;
  width: 100vw;
  font-family: 'Alagard';
  background-color: #fcf4ec;
  overflow: hidden;
}

.root-area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.play-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100vh;
}

.board-area {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.pxl-border {
  background: var(--inner);
  box-shadow:
    /* Inner Background Color -- Same as inner */
    0 -6px 0 -2px var(--inner),
    0 6px 0 -2px var(--inner),
    0 -12px 0 -4px var(--inner),
    0 12px 0 -4px var(--inner),
    0 -18px 0 -8px var(--inner),
    0 18px 0 -8px var(--inner),
    0 -24px 0 -12px var(--inner),
    0 24px 0 -12px var(--inner),

    /* Inner Border */
    -2px 0 0 0 var(--border),
    2px 0 0 0 var(--border),
    0 -4px 0 0 var(--border),
    0 4px 0 0 var(--border),
    0 -10px 0 -2px var(--border),
    0 10px 0 -2px var(--border),
    0 -14px 0 -4px var(--border),
    0 14px 0 -4px var(--border),
    0 -20px 0 -8px var(--border),
    0 20px 0 -8px var(--border),
    0 -26px 0 -12px var(--border),
    0 26px 0 -12px var(--border),

    /* Middle Border -- Accent */
    -4px 0 0 0 var(--accent),
    4px 0 0 0 var(--accent),
    0 -2px 0 2px var(--accent),
    0 2px 0 2px var(--accent),
    0 -8px 0 0px var(--accent),
    0 8px 0 0px var(--accent),
    0 -12px 0 -2px var(--accent),
    0 12px 0 -2px var(--accent),
    0 -16px 0 -4px var(--accent),
    0 16px 0 -4px var(--accent),
    0 -22px 0 -8px var(--accent),
    0 22px 0 -8px var(--accent),
    0 -28px 0 -12px var(--accent),
    0 28px 0 -12px var(--accent),

    /* Outer Border */
    -6px 0 0 0 var(--border),
    6px 0 0 0 var(--border),
    0 0 0 4px var(--border),
    0 -6px 0 2px var(--border),
    0 6px 0 2px var(--border),
    0 -10px 0 0 var(--border),
    0 10px 0 0 var(--border),
    0 -14px 0 -2px var(--border),
    0 14px 0 -2px var(--border),
    0 -18px 0 -4px var(--border),
    0 18px 0 -4px var(--border),
    0 -24px 0 -8px var(--border),
    0 24px 0 -8px var(--border),
    0 -30px 0 -12px var(--border),
    0 30px 0 -12px var(--border);
}
