nav.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #7c2454;
  padding: 16px;
  width: 168px;
  text-align: center;
  z-index: 2;
}

nav .hex-info {
  background-color: #fcf4ec;
  color: #7c2454;
  font-size: xx-large;
  font-weight: bolder;
  width: 136px;
}
