nav.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #675f53;
  padding: 20px;
  width: 15%;
  text-align: center;
}

nav.hex-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #dfebdc;
  color: #675f53;
}

nav.deck-image {
  background-color: #dfebdc;
}
